h1{
  text-align: center;
  font-family: 'Spicy Rice', cursive;
  font-size: 45px;
}

.art{
  margin: auto;
}

#one{
  height: 300px;
  width: 150px;
  border: 5px solid white;
  background-color: #011627;
}

#two{
  height: 300px;
  width: 150px;
  border: 5px solid white;
  background-color: #F4F1BB;
}

#three{
  height: 300px;
  width: 150px;
  border: 5px solid white;
  background-color: #2EC4B6;
}

#four{
  height: 300px;
  width: 150px;
  border: 5px solid white;
  background-color: #E71D36;
}

#five{
  height: 300px;
  width: 150px;
  border: 5px solid white;
  background-color: #FF9F1C;
}
